<div class="margin_wrapper">
  <div class="wrapper">

    <div class="board_header">
      <div class="left">

        <div class="board_name">{{board.title}}</div>

        <div class="star">
          <span class="icon-sm icon-star"></span>
        </div>
        <div class="private">
          <div class="lock">
            <span class="icon-sm icon-private"></span>
          </div>
          <span>Private</span>
        </div>
      </div>
      <div class="right">
        <div class="show_menu">
          <div class="dots">
            <span class="icon-sm icon-overflow-menu-horizontal"></span>
          </div>
          <span class="btn-text">Show Menu</span>
        </div>
      </div>
    </div>
    
    <div class="board_list_container">
      <ul class="list-inline">
        {{#each lists}}
        <li class="board_list" data-list-id="{{id}}">
          <header>
            <h1>{{name}}</h1>
            <span class="icon-sm icon-overflow-menu-horizontal list_actions"></span>
          </header>
          <ul class="cards">

            {{#each Cards.models}}
            <li class="card" data-card-id="{{attributes.id}}">
              <header>
                <h1>{{attributes.name}}</h1>
                <span class="edit icon-sm icon-edit">
                </span>
              </header>
            </li>
            {{/each}}
          </ul>
          <footer>
            <a href="">Add a card...</a>
          </footer>
        </li>
        {{/each}}
        <li class="add_list">
          <header>Add a list...</header>
        </li>
      </ul>
    </div>
  </div>
</div>
