<div class="margin_wrapper">
  <div class="boards_wrapper">

    {{#if starred_boards}}
    <section class="board_collection starred">
      <header>
        <h1>
          <span class="icon-lg icon-star"></span>
          <span class="header_text">Starred Boards</span>
        </h1>
      </header>
      <ul>
        {{#each starred_boards}}
        <li>
          <a href="/b/{{id}}">
            <div class="board_obj" data-board-id="{{id}}">
              {{name}}
              <span class="icon-sm icon-star gold"></span>
          </div>
          </a>
        </li>
        {{/each}}
      </ul>
    </section>
    {{/if}}

    <section class="board_collection personal">
      <header>
        <h1>
          <span class="icon-lg icon-member"></span>
          <span class="header_text">Personal Boards</span>
        </h1>
      </header>
      <ul>
        {{#each boards}}
        <li>
          <a href="/b/{{id}}">
            <div class="board_obj" data-board-id="{{id}}">
              {{name}}
              <span class="icon-sm icon-star {{#if starred}} gold {{/if}}"></span>
          </div>
          </a>
        </li>
        {{/each}}
        <li>
          <div class="create_new_board">
            Create new board...
          </div>
        </li>
      </ul>
    </section>
  </div>
</div>
